RewriteEngine On
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://nicostank.de/$1 [R=301,L]
<FilesMatch "\.(ico|woff2|webp|jpg|jpeg|png|gif|js|css|mp4)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>